Package             Version
------------------- -------
argcomplete         3.6.2
asarPy              1.0.1
asgiref             3.9.0
Django              5.2.4
djangorestframework 3.16.0
pip                 25.1.1
sqlparse            0.5.3
